@use "../../foundation/variables" as *;

.c-btn {
  height: 40px;
  border-radius: 40px;
  background-color: $color-white;
  color: $color-secondary;
  border: 1px solid $color-secondary;
  font-size: $font-size-md;
  box-shadow: $box-shadow-button;
  transition: box-shadow ease 0.4s, transform 0.4s ease;
  cursor: pointer;

  &:hover {
    box-shadow: none;
    transform: translateY(4px);
  }
}
