@use "../../foundation/_variables.scss" as *;

.p-login {
  background-color: $color-white;
  height: calc(100vh - 230px);
  margin-top: 40px;
  padding: 50px;
  border-radius: 20px;
  box-shadow: $box-shadow-box;
  text-align: center;
  position: relative;

  .p-login__title {
    font-size: $font-size-xl;
  }

  .p-login__form {
    margin-top: 30px;

    .p-login__form-input-wrapper {
      text-align: left;
      width: 80%;
      margin: 0 auto;

      .p-login__label {
        display: block;
        font-size: $font-size-md;
        margin-bottom: 30px;

        .p-login__label-title {
          padding-left: 15px;
          margin-bottom: 3px;
        }
      }
    }

    .p-login__form-btn-wrapper {
      position: absolute;
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
